
<!DOCTYPE html> 
  
<html> 
<head> 
    <title>Dashboad</title> 
</head> 
  
<!-- Adding some style to table (OPTIONAL) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style type="text/css"> 
      
    th:tr{ 
        color: blue; 
  
    } 
    tr:nth-of-type(2n){ 
        border: 1px solid black; 
        background-color: rgba(150, 150, 150, 0.5); 
  
    } 
  
    td{ 
        padding: 8px 8px; 
        border: 1px solid black; 
    } 
</style> 
  
<body> 
  
    <table style="margin-left: 20px;"> 
        <!-- Table headers -->
            <th> 
                <tr style="color: green; ">  
                    <!-- <th>Serial No</th>    -->
                
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>User_ids</th>
                    <th>User_dob</th>
                    <th>User_img</th>
                    <th>Age</th>
        </tr> 
            </th> 
      
<!-- For loop logic of jinja template -->
   <!-- {% set count = 1 %}   -->
    <!-- {% set count = count + 1 %} -->
 
    {%for i in all_data%} 


    <!-- table rows -->
    <tr> 


    
        <td>{{i[0]}}</td> 
        <td>{{i[6]}}</td> 
        <td>{{i[1]}}</td> 
        <td>{{i[3]}}</td>         
        <td>{{i[4]}}</td> 
        <td><img src="/static/uploads/{{i[5]}} " alt="image" width="30%" height="100px"></td>   
        <td>           {{i[7]}}        </td> 

    {%endfor%} 
      
  
</tr> 
  
</table> 

     <!-- registration -->

     <form action="\registration" method="get">  
        <div class="form-group">

            <br><br>
            <label for="exampleInputEmail1"><h2>You have to add a registration in the Potral</h2></label><br>        
        <button type="submit" class="btn btn-primary">registration</button>

      </div>


</form> 

           <!-- edit user detail by admine -->

     <form action="\admine_update" method="get">  
        <div class="form-group">

            <br><br>
            <label for="exampleInputEmail1"><h2>You have to edit user detail in the Potral</h2></label><br>        
        <button type="submit" class="btn btn-primary">Admine Update</button>

      </div>
     </form>    

    
    <!-- logout-->

    <form action="\" ,method="get"> 
        <div class="form-group">
          <label for="exampleInputEmail1"><h2>you have to logout in the website</h2></label><br>
          
        <button type="submit" class="btn btn-primary">logout</button></div> 
    </form>

</body> 
</html>




